body{
  background-color: black;
}

.container{
  width: 100vw;
  background-color: black;
}

h1{
  font-family: 'Audiowide', cursive;
  color: white;
  font-size: 5vw;
  text-align: center;
}


#kim{
  max-width: 100%;
  width: 30%;
  text-align: center;
  margin: 16vh 35vw;
  background-size: cover;
}
