.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body{
  background-color: #1c1c1A;
  margin: 0;
}

#container{
  width: 100%;
  background-color: #1c1c1A;
  margin: auto;
}

#title{
width: 100vw;
}

h1{
  font-family: 'Teko', sans-serif;
  font-size: 35em;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 0;
  margin-top:0.43em;
}

h3{
  font-family: 'Teko', sans-serif;
  font-size: 20em;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 0;
}

h2{
  font-family: 'Teko', sans-serif;
  font-size: 45em;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 0;
  margin-top: 0.7em;
}
/* ******************************************************** */

#intro{
  width: 100vw;
  margin-bottom: 200px;
}

#intro-text{
  width: 66%;
  /* height: 750px; */
  float: left;
}

p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.5vw;
  color: white;
  text-align: center;
  line-height: 1.5em;
  margin: 60px;
}

#img1{
  width: 30%;
  text-align: center;
  float: left;
  margin-left: 4%;
  /* background: url(../imgs/1.png) no-repeat center center; */
  background-size: cover;
}

#intro-img{
  max-width: 100%;
}
/* ************************************************** */

h5{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 200px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 0;
  margin: 15% auto;
}

h6{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  text-align: left;
  line-height: 1.5em;
}

.line{
  width: 200px;
  height:5px;
  background-color: white;
  text-align: center;
  margin: 0 auto;
}

.text{
  width: 45%;
  /* height: 750px; */
  float: left;
  margin: 0 0 0 0;
  padding: 50px;
}
/* ****************************************************** */

.shapeimg{
  width: 50%;
  margin: 5% auto;
  text-align: center;
  float: left;
  /* background: url(../imgs/1.png) no-repeat center center; */
  background-size: cover;
}

/*img.all {
  max-width: 50%;
  width: 35%;
  margin: 10% 5%;
  text-align: center;
  float: left;
}*/

img.bun{
  max-width: 50%;
  width: 50%;
  margin: 0% 15%;
  text-align: center;
  float: left;
}

img.patty{
  max-width: 50%;
  width: 50%;
  margin: 0% 35%;
  text-align: center;
  float: left;
}

img.sauce{
  max-width: 50%;
  width: 50%;
  margin: 0% 15%;
  text-align: center;
  float: left;
}

img.lettuce{
  max-width: 50%;
  width: 50%;
  margin: 0% 35%;
  text-align: center;
  float: left;
}

img.tomato{
  max-width: 50%;
  width: 50%;
  margin: 0% 15%;
  text-align: center;
  float: left;
}

img.cheese{
  max-width: 50%;
  width: 50%;
  margin: 0% 35%;
  text-align: center;
  float: left;
}
/* ****************************************************** */

.shape1 {
  margin-top: 30%;
  height: 50vh;
  /* width: 1440px; */
  background: #EB9F4A;
}
/* =========================== */

.shape2 {
  margin-top: 100px;
  height: 65vh;
  /* width: 1440px; */
  background: brown;
}

.t1 {
   width: 0;
   height: 0;
   border-top: 15vh solid #EB9F4A;
   border-left: 100vw solid transparent;
   margin-top: -101px;
}
/* =========================== */

.shape3 {
  height: 65vh;
  background: darksalmon;
}

 .t2 {
  width: 0;
  height: 0;
  border-top: 15vh solid brown;
  border-right: 100vw solid transparent;
}
/* =========================== */

.shape4 {
  margin-top: 100px;
  height: 65vh;
  /* width: 1440px; */
  background: green;
}

.t3 {
  width: 0;
  height: 0;
  border-top: 15vh solid darksalmon;
  border-left: 100vw solid transparent;
  margin-top: -101px;
}
/* =========================== */

.shape5 {
  height: 73vh;
  background: red;
}

.t4 {
  width: 0;
  height: 0;
  border-top: 15vh solid green;
  border-right: 100vw solid transparent;
}
/* =========================== */

.shape6 {
  height: 66vh;
  /* width: 1440px; */
  background: gold;
}

.t5 {
  width: 0;
  height: 0;
  border-top: 15vh solid red;
  border-left: 100vw solid transparent;
  margin-top: -101px;
}
/* ****************************************************** */

#end{

}

#end-text{
  width: 100%;
  /* height: 750px; */
}

h4{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 100px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 0;
  margin: 15% auto;
}
/*####################################################*/

@media only screen and (max-width: 1440px){
  #container{
    width: 1440px;
  }
  #intro-text{
    width: 66%;
    /* height: 750px; */
    float: left;
  }
  #img1{
    width: 30%;
    text-align: center;
    float: left;
    margin-left: 4%;
    /* background: url(../imgs/1.png) no-repeat center center; */
    background-size: cover;
  }
  #intro-img{
    max-width: 100%;
  }

  .text{
    width: 55%;
    /* height: 750px; */
    float: left;
    margin: 0 0 0 0;
    padding: 50px;
  }
  .shapeimg{
    width: 30%;
    margin: 5% auto;
    text-align: center;
    float: left;
    /* background: url(../imgs/1.png) no-repeat center center; */
    background-size: cover;
  }
  img.bun {
    max-width: 40%;
    width: 50%;
    margin:35% 15%;
    text-align: center;
    float: left;
  }
  img.sauce, img.tomato {
    max-width: 50%;
    width: 50%;
    margin:60% 15%;
    text-align: center;
    float: left;
  }
  img.patty, img.lettuce,img.cheese{
    max-width: 50%;
    width: 50%;
    margin:60% 35%;
    text-align: center;
    float: left;
  }

  h5{
    font-size: 150px;
    line-height: 0;
    margin: 15% auto;
  }
  h6{
    font-size: 25px;
    line-height: 1.5em;
  }
  .line{
    width: 150px;
    margin: 0 auto;
  }

  h1{
    font-size: 400px;
    line-height: 0;
    margin-top: 290px;
    /* margin-top: -140px; */
    /* margin-bottom: -550px; */
  }
  h3{
    font-size: 200px;
    line-height: 0;
    margin-top: 100px;
  }

  h2{
    font-size: 500px;
    line-height: 0;
    margin-top: 395px;
  }

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media only screen and (max-width: 1023px)
  {
  #container{
    width: 767px;
  }
  img{
    width: 50%;
    margin: 10% 5%;
    text-align: center;
  }
  h5{
    font-size: 150px;
    line-height: 0;
    margin: 15% auto;
}
  h6{
    font-size: 25px;
    line-height: 1.5em;
  }
  .line{
    width: 150px
    margin: 0 auto;
  }
  p{
    font-size: 30px;
    line-height: 1.5em;
    margin: 60px;
}
#intro-text{
  width: 90%;
}
h4{
  font-size: 60px;
  line-height: 0;
  margin: 15% auto;
}
h1{
font-size: 300px;
line-height: 0;
margin-top: 200px;
/* margin-top: -140px; */
/* margin-bottom: -550px; */
}
h3{
font-size: 100px;
line-height: 0;
margin-top: 100px;
}

h2{
font-size: 400px;
line-height: 0;
margin-top: 270px;
}


@media only screen and (max-width: 767px)
  {
  #container{
    width: 767px;
  }
  img{
    width: 50%;
    margin: 10% 5%;
    text-align: center;
  }
  h5{
    font-size: 100px;
    line-height: 0;
    margin: 15% auto;
}
  h6{
    font-size: 25px;
    line-height: 1.5em;
  }
  .line{
    width: 150px
    margin: 0 auto;
  }
  p{
    font-size: 30px;
    line-height: 1.5em;
    margin: 60px;
}
#intro-text{
  width: 90%;
}
h4{
  font-size: 40px;
  line-height: 0;
  margin: 15% auto;
}
.text{
  width: 80%;
  /* height: 750px; */
  margin: 40px 0 0 0;
  padding: 50px;
}




@media only screen and (max-width: 319px)
  {
  #container{
    width: 767px;
  }
  img{
    width: 50%;
    margin: 10% 5%;
    text-align: center;
  }
  h5{
    font-size: 100px;
    line-height: 0;
    margin: 15% auto;
}
  h6{
    font-size: 25px;
    line-height: 1.5em;
  }
  .line{
    width: 150px
    margin: 0 auto;
  }
  p{
    font-size: 30px;
    line-height: 1.5em;
    margin: 60px;
}
#intro-text{
  width: 90%;
}
h4{
  font-size: 40px;
  line-height: 0;
  margin: 15% auto;
}
.text{
  width: 80%;
  /* height: 750px; */
  margin: 40px 0 0 0;
  padding: 50px;
}
