body {
background-color: black;
font-color: white;
text-align: center;
font-family: 'Bad Script', cursive;
font-size: 48px;
margin-top: 300px;
}
p{
  color: white;
}
a {
  color: white;
  text-decoration: none;
  border-bottom: 5px dotted firebrick;
  transition: color .5s ease;
}
a:hover {
  color: firebrick;
  border-bottom: 5px solid firebrick;
}
