body{
  background-color: white;
}
#container{
  width: 1000px;
  margin: 0 auto;
}


.black{
  width: 1000px;
  height: 1200px;
  background-color: black;
  float: left;
  margin: 0 0 50px 50px;
}

h1{
  font-family: 'Ultra', serif;
  float: left;
  color: white;
  font-weight: normal;
  font-size: 900px;
  margin: -60px 0 0 50px;
}

.title{
  width: 450px;
  height: 500px;
  background-color: black;
  float: left;
  margin: 220px 0 0 0;
}

h2{
font-family: 'Ultra', serif;
float: left;
color: white;
font-weight: normal;
font-size: 58px;
font-weight: bold;
text-align: left;
line-height: 8px;
}

#text{
width: 1000px;
margin: 0px auto;
}

h3{
  font-family: 'Paytone One', sans-serif;
color: black;
font-weight: normal;
font-size: 60px;
font-weight: bold;
text-align: center;
line-height: 8px;
margin: 50px;
}

p{
  font-family: 'Paytone One', sans-serif;
  font-size: 35px;
  margin: 30px 0 0 70px;
}
